<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">We've got your data science needs covered!</h2>
                <hr class="light">
                <p class="text-faded">At CogniTech LLC, we work passionately and diligently with our clients to bring the maximum value out of their data. We are industry-agnostic and ready to utilize the latest data science and machine learning best practices to drive critical decision making and improve products and processes.</p>
                <a href="#services" class="btn btn-default btn-xl page-scroll">Get Started!</a>
            </div>
        </div>
    </div>
</section>
