<header>
    <div class="header-content">
        <div class="header-content-inner">
        	<hr style="visibility: hidden;">
			<hr style="visibility: hidden;">
			<hr style="visibility: hidden;">
            <hr style="visibility: hidden;">
            <hr style="visibility: hidden;">
            <hr style="visibility: hidden;">
            <hr style="visibility: hidden;">
            <hr style="visibility: hidden;">
            <hr style="visibility: hidden;">
            <hr style="visibility: hidden;">
            <hr style="visibility: hidden;">
            <hr style="visibility: hidden;">
            <hr style="visibility: hidden;">
            <hr style="visibility: hidden;">
            <hr style="visibility: hidden;">
            <hr style="visibility: hidden;">
            <hr style="visibility: hidden;">
            <hr style="visibility: hidden;">
            <a href="#about" class="btn btn-primary btn-xl page-scroll" 
            style="
  			background-color: #75d97b;">Find Out More</a>
        </div>
    </div>
</header>
